.dashboard-layout {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

.encounters-column {
    width: 250px;
    min-width: 250px;
    overflow-y: auto;
    max-height: 100vh;
    padding-right: 10px;
}

.main-content-column {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100vh;
}

.tracker-section {
    margin-bottom: 20px;
}

.integration-panel h6,
.search-bestiary-section h6,
.library-section h6 {
    margin-bottom: 10px;
}

.tracker-stats {
    margin-bottom: 5px;
}
